.card-container {
  box-sizing: border-box;
  justify-self: center;
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
  align-items: center;
}

.card-container:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.card-container figure {
  max-width: 100%;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out;
}

.card-container figure img {
  max-width: 100%;
  height: 200px;
}

.card-container * {
  text-align: center;
}

.card-container .seller {
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
}

.card-container header {
  width: 100%;
  height: 50px;
  padding: 0 10px;
}

.card-container footer {
  width: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  padding: 0 10px;
}

.card-container .price-tag {
  font-size: 1.4em;
  font-weight: 600;
}

.product-link {
  color: inherit;
  text-decoration: none;
  width: 100%;
}
